RPC_1=
RPC_11155111=
RPC_42161=
RPC_421614=
RPC_8453=
RPC_84532=
RPC_300=
RPC_324=
AVAIL_WS_HEX=
AVAIL_WS_MAINNET=
AVAIL_WS_TURING=

# Postgres DB connection string
DATABASE_URL=postgresql://pg_user:pg_password@localhost:5432/vectorx-indexer

# Server configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=8080

# Log level
RUST_LOG=info
